body {
    font-family: "Times New Roman";
    background-color: #011f4b;
    color:whitesmoke;
    line-height: 1.6;
    text-align: center;
}


h1{
    font-size: 36px;
    text-decoration: underline;
}

h2{
    font-size: 28px;
}

h3{
    font-size: 20px;
}

h4{
    font-size: 18px;
}

h5{
    font-size: 16px;
}

ul, ol, p{
    text-align: center;
}



a{
    font-size: 16px;
    color:blue;
    text-decoration: underline;
}

img{
    background-color: antiquewhite;
    height: 200px;
    width: 200px;
    border-width: 3px;
    border-style: solid;
    border-color: whitesmoke;
    border-radius: 50px;
}